<extend name="Public:base"/>
<block name='adsmenu'>active open</block>
<block name='adssubmenubannermgr'>active</block>
<block name="pagecont">
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <if condition="($act eq add) ">
                        <h3>图书章节新增</h3>
                        <else/>
                        <h3>图书章节编辑</h3>
                    </if>
                </div>
                <div class="panel-body">
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" method="post" action="__ACTION__"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">图书名称</label>
                            <div class="col-lg-10" style="line-height:31px;">
                               {$data.name}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">图书类别</label>
                            <div class="col-lg-10" style="line-height:31px;">
                                {$cate.name}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">图书章节</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入章节" name="chapter" value="{$data.chapter}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">图书章节标题</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入章节标题" name="chaptertitle" value="{$data.chaptertitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">图书章节地址</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入章节地址" name="chapteraddress" value="{$data.chapteraddress}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">排序</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入排序" name="sort" value="{$data.sort}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">章节内容</label>
                            <div class="col-lg-10">
                                <textarea name="chaptercontent" id="post-content"><if condition="($data.chaptercontent neq null)">{$data.chaptercontent|htmlspecialchars_decode}<else/>这里写你的初始化内容</if></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="pid" value="{$data.pid}"/>
                                <input type="hidden" name="bid" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存{$data.pid}</button>
                                <a href="{:U('Ads/bannermgr')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>


<block name="extjs">
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('post-content',{
            toolbars: [
                ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
                ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
            ],
            initialFrameHeight:500,
            zIndex:100
        });
    </script>
    <script type="text/javascript">
        function setImagePreview(avalue) {
            var docObj=document.getElementById("doc");

            var imgObjPreview=document.getElementById("preview");
            if(docObj.files &&docObj.files[0])
            {

                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '150px';
                imgObjPreview.style.height = '180px';
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
            }
            else
            {
                docObj.select();
                var imgSrc = document.selection.createRange().text;
                var localImagId = document.getElementById("localImag");
                localImagId.style.width = "150px";
                localImagId.style.height = "180px";
                try{
                    localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                }
                catch(e)
                {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                }
                imgObjPreview.style.display = 'none';
                document.selection.empty();
            }
            return true;
        }

    </script>

    <script language="javascript" type="text/javascript">
        $(function(){
           $("select[name='type']").find('option').each(function(){
                var self=this;
                if($(self).val()== {$type}){
                    $(self).attr('selected',true);
                }
           });
        })
    </script>
    <script  src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        //时间选择
        $(function(){
            function selecttime(flag){
                if(flag==1){
                    var endTime = $("#countTimeend").val();
                    if(endTime != ""){
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime});
                    }else{
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
                    }
                }else{
                    var startTime = $("#countTimestart").val();
                    if(startTime != ""){
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime});
                    }else{
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
                    }
                }
            }
            $('#countTimestart').focus(function(){
                selecttime(1);
            });
            $('#countTimeend').focus(function(){
                selecttime(2);
            });
        });
    </script>
    <script src="__PUBLIC__/Uploadify/jquery.uploadify.min.js" type="text/javascript">
    </script>

    <script language="javascript" type="text/javascript">

        $(document).ready(function(){
            //var globalVar = new GVar();
            setTimeout(function(){
                $('#file_upload').uploadify({
                    'formData'     : {
                    },
                    'buttonText' : '添加图片...',
                    'successTimeout' : 30,
                    'swf'      : '__PUBLIC__/Uploadify/uploadify.swf',
                    'uploader' : "{:U('Resource/tmpupimgs')}",
                    'onUploadSuccess' : function(file, data, response) {
                        if(response){
                            var dataObj=eval("("+data+")");
                            //console.log(dataObj);
                            ///*
                            $.each(dataObj, function(i, n){
                                console.log(n);
                                var str=$('#imagesdiv').html();
                                var add="<div class='img-square'><img width='100px' src='"+"{$Think.WEB_ROOT}"+n+"'" +"style='margin:15px;'/></img>"
                                        +"<br/><a  class='btn btn-danger btn-xs' onclick=\"removeImgnode(this)\"><i class='fa fa-trash-o fa-lg'></i> 删除 </a>"
                                        +"<input type='hidden'  name='img[]' value='"+n+"'></div>";
                                str+=add;
                                $('#imagesdiv').html(str);
                            });//*/
                        }
                    }
                });
            },6);
            function removeImgnode(node){
                if(!confirm('您是否确定要删除该图片？')){return  false;}
                else{
                    var pdiv = node.parentNode;
                    var mdiv = pdiv.parentNode;
                    mdiv.removeChild(pdiv);
                }
            }
        })

    </script>
</block>

<block name="extcss">
    <link href="__PUBLIC__/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        .img-square {
            text-align:center;
            width:200px;
            float:left;
            display:block;
            margin-right:10px;
        }
    </style>
</block>