<extend name="Public:base"/>
<block name='adsmenu'>active open</block>
<block name='adssubmenupositionmgr'>active</block>
<block name="pagecont">
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <if condition="($act eq add) ">
                        <h3>position新增</h3>
                        <else/>
                        <h3>position编辑</h3>
                    </if>
                </div>
                <div class="panel-body">
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" method="post" action="__ACTION__"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">名称</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入position名称" name="name" value="{$data.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">高度</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入position高度" name="width" value="{$data.width}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">宽度</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入position宽度" name="height" value="{$data.height}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">描述</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="5" name="description">{$data.description}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="id" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('Ads/positionmgr')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>


<block name="extjs">
    <script src="__PUBLIC__/Uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function(){
            //var globalVar = new GVar();
            setTimeout(function(){
                $('#file_upload').uploadify({
                    'formData'     : {
                    },
                    'buttonText' : '添加图片...',
                    'successTimeout' : 30,
                    'swf'      : '__PUBLIC__/Uploadify/uploadify.swf',
                    'uploader' : "{:U('Resource/tmpupimgs')}",
                    'onUploadSuccess' : function(file, data, response) {
                        if(response){
                            var dataObj=eval("("+data+")");
                            //console.log(dataObj);
                            ///*
                            $.each(dataObj, function(i, n){
                                console.log(n);
                                var str=$('#imagesdiv').html();
                                var add="<div class='img-square'><img width='100px' src='"+"{$Think.WEB_ROOT}"+n+"'" +"style='margin:15px;'/></img>"
                                        +"<br/><a  class='btn btn-danger btn-xs' onclick=\"removeImgnode(this)\"><i class='fa fa-trash-o fa-lg'></i> 删除 </a>"
                                        +"<input type='hidden'  name='img[]' value='"+n+"'></div>";
                                str+=add;
                                $('#imagesdiv').html(str);
                            });//*/
                        }
                    }
                });
            },6);
        })
        function removeImgnode(node){
            if(!confirm('您是否确定要删除该图片？')){return  false;}
            else{
                var pdiv = node.parentNode;
                var mdiv = pdiv.parentNode;
                mdiv.removeChild(pdiv);
            }
        }
    </script>
</block>

<block name="extcss">
    <link href="__PUBLIC__/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        .img-square {
            text-align:center;
            width:200px;
            float:left;
            display:block;
            margin-right:10px;
        }
    </style>
</block>