<extend name="Public:base"/>
<block name='resmenu'>active open</block>
<block name='ressubmenuappmgr'>active</block>
<block name="pagecont">
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>应用编辑</h3>
                </div>
                <div class="panel-body">
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" method="post" action="__ACTION__"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用名称</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入应用名称" name="name" value="{$data.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用类别</label>
                            <div class="col-lg-10">
                                <select name="category">
                                    <foreach name="types" item="vo">
                                        <option value="{$vo.title}">
                                            {$vo.title}
                                        </option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="file" name="filepath">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用LOGO</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="file" name="iconimg">
                            </div>
                        </div>
                        <notempty name="data.icon">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">当前LOGO</label>
                                <div class="col-lg-10">
                                    <img src="{$Think.WEB_ROOT}{$data.icon}" height="120px"/>
                                </div>
                            </div>
                        </notempty>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">banner</label>
                            <div class="col-lg-10">
                                <select name="banner">
                                    <foreach name="banners" item="vo">
                                        <option value="{$vo.id}">
                                            {$vo.banner}
                                        </option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">包名</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入包名(如com.ice.light)" name="package" value="{$data.package}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标语</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入标语" name="slogon" value="{$data.slogon}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">发布时间</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入发布时间" name="pubdate" value="{$data.pubdate}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">版本号</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入版本号" name="version" value="{$data.version}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用大小（MB）</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入应用大小，不需要写单位，默认为MB" name="size" value="{$data.size}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">标签</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入应用标签，之间以逗号分割" name="tags" value="{$data.tags}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">应用图片</label>
                            <div class="col-lg-10">
                                <div class="col-lg-10">
                                    <!--form-->
                                    <div id="queue"></div>
                                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                                    <!-- </form> -->
                                    <div id='imagesdiv'>
                                        <volist name="simgs" id="vo">
                                            <div class='img-square'><img width='100px' src='{$Think.WEB_ROOT}{$vo}' style='margin:15px;'/></img>
                                                <br/>
                                                <a  class='btn btn-danger btn-xs' onclick="removeImgnode(this)"><i class='fa fa-trash-o fa-lg'></i> 删除</a>
                                                <input type='hidden'  name='img[]' value='{$vo}' ></div>
                                        </volist>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">详情</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="5" name="intro">{$data.intro}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">编辑推荐</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="5" name="recommendtxt">{$data.recommendtxt}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">版本更新信息</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="5" name="updatetxt">{$data.updatetxt}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="id" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('Resource/appmgr')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>


<block name="extjs">
    <script src="__PUBLIC__/Uploadify/jquery.uploadify.min.js" type="text/javascript">
        $(function(){
            $("select[name='banner']").find('option').each(function(){
                var self=this;
                if($(self).val()== {$data['bid']}){
                    $(self).attr('selected',true);
                }
            });
        })
    </script>

    <script language="javascript" type="text/javascript">
        $(function(){
            $("select[name='category']").find('option').each(function(){
                var self=this;
                if($(self).val()== "{$data['tags']}"){
                    $(self).prop('selected',true);
                }
            });
        })
        $(document).ready(function(){
            //var globalVar = new GVar();
            setTimeout(function(){
                $('#file_upload').uploadify({
                    'formData'     : {
                    },
                    'buttonText' : '添加图片...',
                    'successTimeout' : 30,
                    'swf'      : '__PUBLIC__/Uploadify/uploadify.swf',
                    'uploader' : "{:U('Resource/tmpupimgs')}",
                    'onUploadSuccess' : function(file, data, response) {
                        if(response){
                            var dataObj=eval("("+data+")");
                            //console.log(dataObj);
                            ///*
                            $.each(dataObj, function(i, n){
                                console.log(n);
                                var str=$('#imagesdiv').html();
                                var add="<div class='img-square'><img width='100px' src='"+"{$Think.WEB_ROOT}"+n+"'" +"style='margin:15px;'/></img>"
                                        +"<br/><a  class='btn btn-danger btn-xs' onclick=\"removeImgnode(this)\"><i class='fa fa-trash-o fa-lg'></i> 删除 </a>"
                                        +"<input type='hidden'  name='img[]' value='"+n+"'></div>";
                                str+=add;
                                $('#imagesdiv').html(str);
                            });//*/
                        }
                    }
                });
            },6);
        })
        function removeImgnode(node){
            if(!confirm('您是否确定要删除该图片？')){return  false;}
            else{
                var pdiv = node.parentNode;
                var mdiv = pdiv.parentNode;
                mdiv.removeChild(pdiv);
            }
        }
    </script>
</block>

<block name="extcss">
    <link href="__PUBLIC__/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        .img-square {
            text-align:center;
            width:200px;
            float:left;
            display:block;
            margin-right:10px;
        }
    </style>
</block>